{% extends "items/item_base.html" %}
{% block content %}
  <div class="page-header">
    <h1>Items <small>{{ item.title }}</small></h1> 
  </div>

  <p>{{ item.description }}</p>

  <ul>
    <li>created: {{ item.created }}</li>
    <li>updated: {{ item.modified }}</li>
    <li>active? {{ item.is_active }}</li>
    <li><a href="item.url">{{ item.url }}</a></li>
  </ul>

  <a class="btn btn-warning" href="{% url 'items:item_update' item.id %}">Edit item</a>
  <a class="btn btn-danger" href="{% url 'items:item_delete' item.id %}">Delete item</a>
  <a class="btn btn-default" href="{% url 'items:items_list' %}">Back to Items</a>
{% endblock content %}