{% extends "items/item_base.html" %}
{% block content %}
  <div class="page-header">
    <h1>Items 
      {% if item %}
        <small>Edit Item</small>
      {% else %}
        <small>New Item</small>
      {% endif %}
  </div>

{% load crispy_forms_tags %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="btn btn-default" href="{% url 'items:items_list' %}">Cancel</a>
    <input class="btn btn-primary" type="submit" value="Save">
  </form>
{% endblock content %}