{% extends "base.html" %}
{% block nav-login %}class="active"{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="well col-sm-6">
    <h1>Please login</h1>
    <form role="form" class="form-horizontal" method="post" action="">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <hr>
    <p>
      <strong>Not a member?</strong>
      <a href="{% url 'registration_register' %}">Create an account</a>.
    </p>
    <p>
      <strong>Forgot Password?</strong>
      <a href="{% url 'auth_password_reset' %}">Reset Password</a>.
    </p>
  </div>
{% endblock content %}