{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% block title %}<title>Tailwind Solutions Labs</title>{% endblock title %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  {% block head_adds %}{% endblock %}
    <!-- Custom styles for this template -->
    <link href="{% static "navbar-static-top.css" %}" rel="stylesheet">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- favicon links -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Tailwind Labs</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% block nav-home %}{% endblock %}><a href="{% url 'home' %}">Home</a></li>
          <li {% block nav-items %}{% endblock %}><a href="{% url 'items:items_list' %}">Items</a></li>
          <li {% block nav-sort %}{% endblock %}><a href="{% url 'smart_sort:ss_page' %}">Smart Sort</a></li>
          <li {% block nav-csv %}{% endblock %}><a href="{% url 'csv_analyzer:home' %}">CSV Analyzer</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li {% block nav-about %}{% endblock %}><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
          <li><a href="{% url 'tailwind_labs_logout' %}">Logout</a></li>
      {% else %}
          <li {% block nav-login %}{% endblock %}><a href="{% url 'tailwind_labs_login' %}">Login</a></li>  
      {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  
  <div class="container">
  {% if user.is_authenticated %}
    <div id="login_message">
      <p class="text-right text-muted">Logged in as <strong>{{ user.username }}</strong></p>
    </div>
  {% endif %}
    {% include "messages.html" %}
    {% block content %}{% endblock content %}
  </div>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>